# Vim files
*.swp
*.swo

# Mac specific files
.DS_Store

# Atom compile
*.cson

# External projects
/External/*

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.suo
*.VC.db
*.VC.opendb
*.config

packages/
